

.logo-link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-image {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.logo-text {
  font-size: 1.50rem;
  font-weight: 700;
  color: var(--text-color); 
  
}