/* Area de informaçãoes e img */
.pts-navDoacao {
    display: flex;
    margin: 5%;
}

.pts-textDoacao h2 {
    font-size: 30px;
    font-weight: bold;
}

.pts-textDoacao h3 {
    font-size: 20px;
}

.pts-textDoacao h1 {
    font-size: 50px;
    font-weight: bold;
}

.pts-ajuda {
    color: rgb(76, 76, 190);
}

.pts-textDoacao a {
    font-size: 20px;
    text-decoration: none;
}

.pts-imgAdotantes {
    display: block;
    width: 280%;

}



/* Container em grade com 3 colunas */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 3 colunas */
    gap: 20px;
    /* Espaço entre os cartões */
    padding: 40px;
    justify-items: center;
    /* Centraliza os cartões */
    align-items: center;
    background-color: var(--light-bg2);
    
}

/* Cada cartão individual */
.flip-wrapper {
    width: 300px;
    height: 400px;
}



/* Estilo base do cartão flip */
.flip-card {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    cursor: pointer;
}

.flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* Linha separadora */

.minha-linha2 {
    height: 1px;
    background-color: #c5c1c1;
    /* Cor da linha */
    width: 100vw;
    /* Largura da linha */
}


/* Text Duvidas */
.pts-text {
    text-align: center;
    font-size: 50px;
    margin: 50px;
    font-weight: bold;
}

.pts-textDuvidas {
    display: inline-block;
    text-align: left;
}

/* Css Perguntas e respostas */
.faq {
    max-width: 100vh;
    padding-bottom: 5%;
}

details {
    padding: 15px 20px;
    transition: all 0.8s ease;
}

summary {
    font-weight: bold;
    font-size: 1.4em;
    cursor: pointer;
    list-style: none;
    position: relative;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    position: absolute;
    right: 0;
    transition: transform 0.8s ease;
}

details[open] summary::after {
    transform: rotate(90deg);
}

.minha-linha {
    height: 1px;
    background-color: #c5c1c1;
    /* Cor da linha */
    width: 100%;
    /* Largura da linha */
}